<footer class="footer">
	<div class="footer-container">
		<div class="footer-item-group">
			<a href="https://www.facebook.com/swaplattr"><img class="footer-item-social" src="../img/facebook-64.gif"></a>
			<a href="https://twitter.com/swaplattr"><img class="footer-item-social" src="../img/twitter-64.gif"></a>
		</div>
		<div class="footer-item-group">
			<a href="../siteinfo?siteinfo=faq" class="footer-item">Sıkça Sorulan Sorular</a>
			<a href="../siteinfo?siteinfo=contract" class="footer-item">Kullanıcı Sözleşmesi</a>
			<a href="../siteinfo?siteinfo=privacy" class="footer-item">Gizlilik Politikası</a>
		</div>
	</div>
</footer>