<!DOCTYPE html>
<html>
<head>
</head>

<body>

<div class="jumbotron text-center">
  <div class="container">
    <h1>Sifrenizi yenilemek icin asagidaki linke tiklayabilirsiniz</h1>
</div>
</body>
</html>
